<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="login-screen">
				<button class="into">X</button>
				<h3>RESET PASSWORD</h3>
				<p>Enter your email id below and we'll send you the password reset instructions.</p>
				<div class="form-group inpiconc">
					<label for="email">EMAIL ID</label>
					<i class="glyphicon glyphicon-envelope inpicon"></i>
					<input type="email" id="email" class="form-control inpoffset" [(ngModel)]="email" />
				</div>
				<div class="form-group text-center">
					<button class="send">Send</button>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>