<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DashBoard</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li [class.active]="active['designer']"><a style="cursor: pointer;" (click)="routing('designer')">Designers</a></li>
      <li [ngClass]="{ 'active': active['developer'] }"><a style="cursor: pointer;" (click)="routing('developer')">Developers</a></li>
      <li [class.active]="active['content_writer']"><a style="cursor: pointer;" (click)="routing('content_writer')">Content Writers</a></li>
      <li [class.active]="active['company']"><a style="cursor: pointer;" (click)="routing('company')">Companies</a></li>
      <li><a style="cursor: pointer;" (click)="logoutFreelancer()">Log out</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 table-responsive">
			<table class="table" *ngIf="!active['company']">
				<caption>Users | My name is {{user['full_name']}}. I am {{user['profession']}}</caption>
				<thead>
					<tr>
						<th>Id</th>
						<th>Full Name</th>
						<th>Tel</th>
						<th>Skype</th>
						<th>Profession</th>
						<th>Email</th>
						<th>Created At</th>
						<th>Updated At</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of freelancers; let i=index;">
						<td>{{ item['id'] }}</td>
						<td>{{ item['full_name'] }}</td>
						<td>{{ item['tel'] }}</td>
						<td>{{ item['skype'] }}</td>
						<td>{{ item['profession'] }}</td>
						<td>{{ item['email'] }}</td>
						<td>{{ item['created_at'] }}</td>
						<td>{{ item['updated_at'] }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table" *ngIf="active['company']">
				<caption>Companies  | Company name : {{user['company_name']}}</caption>
				<thead>
					<tr>
						<th>Id</th>
						<th>Company Name</th>
						<th>Full Name</th>
						<th>Tel</th>
						<th>Skype</th>
						<th>Email</th>
						<th>Refferal Code</th>
						<th>Created At</th>
						<th>Updated At</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of companies; let i=index;">
						<td>{{ item['id'] }}</td>
						<td>{{ item['company_name'] }}</td>
						<td>{{ item['full_name'] }}</td>
						<td>{{ item['tel'] }}</td>
						<td>{{ item['skype'] }}</td>
						<td>{{ item['email'] }}</td>
						<td>{{ item['referral_code'] }}</td>
						<td>{{ item['created_at'] }}</td>
						<td>{{ item['updated_at'] }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>